@font-face {
    font-family: "Game Boy";
    src: url("fonts/gameboy.eot");
    src: url("fonts/gameboy.eot?#iefix") format("embedded-opentype"),
        url("fonts/gameboy.woff") format("woff"),
        url("fonts/gameboy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans MT";
    src: url("fonts/gillsansmt.eot");
    src: local("Gill Sans MT"),
        url("fonts/gillsansmt.eot?#iefix") format("embedded-opentype"),
        url("fonts/gillsansmt.woff") format("woff"),
        url("fonts/gillsansmt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container {
    font-family: "Game Boy", monospace;
}

@media (min-width: 768px) {
    .text-sm-left {
        text-align: left;
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-justify {
        text-align: justify;
    }

    .text-sm-right {
        text-align: right;
    }
}

header {
    font-family: "Gill Sans MT", arial, sans-serif;
    font-style: italic;
}

header h1 {
    color: #101880;
}

#gameboy {
    margin: 0px auto;
    max-width: 640px;
}

video {
    display: none;
}

#camera {
    position: relative;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    background: url("images/thumb.png");
    background-size: cover;
}

#shutter {
    transition: transform 0.5s;
    display: none; /* shown on successful camera load */
    position: absolute;
    bottom: 5.555555556%;
    left: 10%;
    transform: translate(0, 133.3333333%);
    width: 80%;
    height: 16.66666667%;
    background: url("images/camera.png");
    background-position: 0% 0%;
    background-size: cover;
    cursor: pointer;
}

#shutter:active {
    background-position: 0% 100%;
}

#camera:hover #shutter {
    transform: translate(0, 0);
}

img.gb {
    display: block;
    margin-bottom: 2em;
    width: 100%;
}
