@font-face {
    font-family: "Game Boy";
    src: url("fonts/gameboy.eot");
    src: url("fonts/gameboy.eot?#iefix") format("embedded-opentype"),
        url("fonts/gameboy.woff") format("woff"),
        url("fonts/gameboy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans MT";
    src: url("fonts/gillsansmt.eot");
    src: local("Gill Sans MT"),
        url("fonts/gillsansmt.eot?#iefix") format("embedded-opentype"),
        url("fonts/gillsansmt.woff") format("woff"),
        url("fonts/gillsansmt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    .text-sm-left {
        text-align: left;
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-justify {
        text-align: justify;
    }

    .text-sm-right {
        text-align: right;
    }
}

.container {
    font-family: "Game Boy", monospace;
}

.hidden {
    display: none;
}

header {
    font-family: "Gill Sans MT", arial, sans-serif;
    font-style: italic;
}

header h1 {
    color: #101880;
}

#gb-console {
    margin: 0 auto 2em;
    max-width: 640px;
}

#gb-top {
    position: relative;
    overflow: hidden;
}

#gb-screen {
    display: block;
    width: 100%;
    background-image: url("images/thumb.png");
    background-size: cover;
}

.gb-button {
    transition: transform 0.5s;
    position: absolute;
    background-position: 0 0;
    background-size: cover;
    cursor: pointer;
}

.gb-button:active {
    background-position: 0 100%;
}

#gb-top:hover .gb-button {
    transform: translateY(0);
}

#gb-flip {
    top: 5.555555556%;
    right: 5%;
    transform: translateY(-133.3333333%);
    width: 15%;
    height: 16.66666667%;
    background-image: url("images/flip.png");
}

#gb-shutter {
    bottom: 5.555555556%;
    left: 10%;
    transform: translateY(133.3333333%);
    width: 80%;
    height: 16.66666667%;
    background-image: url("images/camera.png");
}

#gb-bottom {
    display: block;
    width: 100%;
}
